/* Styles go here */
.container{
  border: 1px solid #000;
}
header{
  height: 100px;
}
.input[type=text]{
  padding: 80px 0px;
  height: 300px;
}
.user-display{
  height:400px;
}
.user-display p{
  font-size: 2rem;
  line-height: 1.9;
}

#myErrors {
  width: 100%;
  transition: 0.4s all ease-out;
}
#myErrors.ng-hide-add,
#myErrors.ng-hide-remove {
  display: block !important;
}
#myErrors.ng-hide-remove,
#myErrors.ng-hide-add.ng-hide-add-active {
  margin-left: -80px;
  opacity: 0;
}

#myErrors.ng-hide-remove.ng-hide-remove-active,
#myErrors.ng-hide-add {
  margin-left: 0;
  opacity: 1;
}

#madlib {
  width: 100%;
  transition: 0.4s all ease-out;
}
#madlib.ng-hide-add,
#madlib.ng-hide-remove {
  display: block !important;
}
#madlib.ng-hide-remove,
#madlib.ng-hide-add.ng-hide-add-active {
  margin-left: -80px;
  opacity: 0;
}
#madlib.ng-hide-remove.ng-hide-remove-active,
#madlib.ng-hide-add {
  margin-left: 0;
  opacity: 1;
}